body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffe6e6;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}

.container {
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.yes-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    font-weight: bold;
}

.no-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

#question {
    color: #ff4d4d;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.yes-button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.no-button:hover {
    background-color: #d32f2f;
}
